
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&family=Roboto+Mono:wght@400;500;700&display=swap');

// Font Families
@font-display: 'Titillium Web', sans-serif; // For Headers, Brand names, and UI
@font-tech:    'Roboto Mono', monospace;    // For Telemetry, Logs, and System text

// Common Weights
@weight-regular: 400;
@weight-semi:    600;
@weight-bold:    700;
@weight-black:   900;