@import 'styles/colors.less';
@import 'styles/fonts.less';

.f1-autocomplete-container {
    .MuiFilledInput-root {
        background-color: fade(#000, 40%) !important;
        color: @color-white !important;
        border-radius: 4px;
        font-family: @font-display !important;
        font-weight: @weight-semi;
        
        &:hover:not(.Mui-disabled) {
            background-color: fade(#000, 60%) !important;
        }

        &:before { border-bottom-color: fade(@color-white, 20%) !important; }
        &:after { border-bottom-color: @f1-red !important; }

        .MuiAutocomplete-popupIndicator, .MuiAutocomplete-clearIndicator { 
            color: @color-white !important; 
        }
    }
    
    .MuiInputLabel-root {
        color: fade(@color-white, 70%) !important;
        font-family: @font-display !important;
        font-weight: 700;
        &.Mui-focused { color: @f1-red !important; }
    }
}

[dir="rtl"] .f1-autocomplete-container {
    .MuiInputLabel-root {
        left: unset;
        right: 12px;
        transform-origin: top right;
        
        &.MuiInputLabel-shrink {
            transform: translate(0, -1.5px) scale(0.75);
        }
        &:not(.MuiInputLabel-shrink) {
            transform: translate(0, 16px) scale(1);
        }
    }

    .MuiFilledInput-root {
        padding-right: 12px !important;
        padding-left: 39px !important;
    }

    input {
        text-align: right;
    }

    .MuiAutocomplete-endAdornment {
        right: unset !important;
        left: 9px !important;
    }
}

.f1-autocomplete-popover.MuiPaper-root {
    background-color: @bg-panel !important;
    border: 1px solid @color-border-light !important;
    box-shadow: 0 10px 30px fade(#000, 50%) !important;

    .MuiAutocomplete-loading, 
    .MuiAutocomplete-noOptions {
        color: fade(@color-white, 70%) !important;
        font-family: @font-display !important;
        font-weight: 600;
        padding: 12px 16px;
        background-color: @bg-panel !important;
        text-align: start;
    }
}

.f1-autocomplete-listbox {
    .MuiAutocomplete-option {
        font-family: @font-display !important;
        font-weight: 600;
        color: fade(@color-white, 80%);
        border-left: 3px solid transparent;

        &[aria-selected="true"], &:hover {
            background-color: fade(@f1-red, 15%) !important;
            border-left-color: @f1-red;
            color: @color-white;
        }

        [dir="rtl"] & {
            border-left: none;
            border-right: 3px solid transparent;
            text-align: right;
            
            &[aria-selected="true"], &:hover {
                 border-right-color: @f1-red;
            }
        }
    }
}